{% extends 'base.html' %}{% block content %}<h1>Contato</h1><p>
Fale conosco! Estamos aqui para ajudar você a encontrar as melhores soluções sustentáveis para o agronegócio. Seja para tirar dúvidas, solicitar informações ou compartilhar suas ideias, adoraríamos ouvir de você. 
Entre em contato através do nosso formulário, e-mail ou telefone. Juntos, podemos cultivar um futuro mais verde e inteligente! 🌱📞📧</p>

<p>Nossos contatos:</p>
<ul></ul>
    <li>Anna Clara: <a href="tel:+5569993767556">(69) 99376-7556</a> - Apresentador do Programa AgroSustent</li>
    <li>Lauane Rayra: <a href="tel:+5569999959885">(69) 99995-9885</a> - Programadora do AgroSustent</li>
    <li>Luiza Fernanda: <a href="tel:+5597984520766">(97) 98452-0766</a> - Apresentadora do Programa AgroSustent</li>
    <li>Mariana Santos: <a href="tel:+5569993791767">(69) 99379-1767</a> - Apresentadora do Programa AgroSustent</li>
</ul>

{% endblock %}